/* Sidebar Nav */
#aboutNav {
    width: 140px;
    padding: 5px 0 10px 10px;
}
.aboutNavTab {
    display: block;
    text-align: right;
    padding: 5px 10px 5px 0;
    margin-top: 10px;
    background: #999;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    box-shadow: -5px 5px 0 #555;
}
.aboutNavTab:first-child {margin-top: 5px;}
.aboutNavTab:hover {box-shadow: -3px 3px 0 #555;}
.aboutNavTab.selected {background: #ffd200; box-shadow: -5px 5px 0 #cca000;}
.aboutNavTab.selected:hover {box-shadow: -3px 3px 0 #cca000;}
.aboutSubNavTab {
    display: block;
    font-size: 1em;
    background: #999;
    text-align: right;
    width: 115px;
    padding: 5px 10px 5px 0;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #000;
}
.aboutSubNavTab:last-child {
    border-bottom-left-radius: 5px;
}
.aboutSubNavTab:first-child {
    border: none;
}
