/* Entry Page */
span.pubDate {float: right;}

/* Sidebar Nav */
#blogNav {
    width: 140px;
    padding: 5px 0 10px 10px;
}
.blogNavTab {
    display: block;
    text-align: right;
    padding: 5px 10px 5px 0;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    color: #000;
    background: #999;
    box-shadow: -5px 5px 0 #555;
}
.blogNavTab.entries {margin-top: 5px;}
.blogNavTab.entries, .blogNavTab.tags {border-bottom: 2px solid #000;}
.blogNavTab.archives {border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.blogNavTab.archives:hover {box-shadow: -3px 3px 0 #555;}
.blogNavTab.archives.selected:hover {box-shadow: -3px 3px 0 #cca000;}
.blogNavTab.selected {background: #ffd200; box-shadow: -5px 5px 0 #cca000;}
.blogNavTab.entries.selected, .blogNavTab.tags.selected {border-bottom: none;}
.blogNavList, .blogTagCloud {
    padding-bottom: 5px;
    background: #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    box-shadow: -5px 5px 0 #555;
}
.blogNavList a {text-decoration: none; color: #000;}
.blogNavYear > a {
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    padding-right: 10px;
    padding-bottom: 3px;
}
.blogNavYear {
    border-top: 2px solid #000;
    padding-top: 5px;
}
.blogNavYear:first-child {
    border-top: none;
}
.blogNavMonth > a {
    display: block;
    font-weight: normal;
    font-size: 16px;
    padding: 5px 10px 3px 0;
    border-top: 1px solid #000;
}
.blogNavEntries > a {display: block; padding: 5px 10px 0 5px; text-decoration:underline;}
.blogNavEntries > a:first-child {border-top: 1px solid #000;}
.blogNavEntries > a:hover {text-decoration: none;}
.blogNavEntries > a:last-child {padding-bottom: 5px;}

.tagCloud {margin: 0 5px; color: #000;}
div.collapsed {display: none;}

/* Archives */
.archYr {
    display: block;
    text-decoration: none;
    background: #ffd200;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: -5px 5px 0 #cca000;
}
.archYr.collapsed {
    box-shadow: -3px 3px 0 #cca000;
}
.archYr i {float: right; margin: 2px 5px 0 0;}
.archYr span {font-size: 2em; font-weight: bold; margin-left: 10px;}
.archMnth {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin: 15px 0 5px 10px;
}
#archEtrList div {
    padding: 2px 0 2px 15px;
    line-height: 1.2em;
}

/* Entry List */
.entryTitle {
    display: block;
    text-decoration: none;
    background: #ffd200;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: -5px 5px 0 #cca000;
}
a.entryTitle:hover {box-shadow: -3px 3px 0 #cca000;}
a.entryTitle h1, a.entryTitle h2 {margin: 0 0 0 10px;}
h1.entryTitle {padding: 0 0 0 10px;}
