/* Networks */
#networks {padding: 0 10px; overflow: auto;}
#networks .row {overflow: auto; padding: 10px 0;}
#networks a {
    display: block;
    float: left;
    text-decoration: none;
    color: black;
    padding: 14px 20px 10px;
    margin: 0 49px;
    width: 82px;
    background: #999;
    box-shadow: -5px 5px 0 #555;
    border-radius: 5px;
}
.networkSpacer {width: 220px; float: left;}

#networks i {font-size: 6em; color: black;}
#networks a:hover {box-shadow: -3px 3px 0 #555;}

/* Contact Form */
#contactForm label {width: 150px; text-align: right; display: inline-block; vertical-align: top;}
#contactForm div {margin-bottom: 10px;}
input.contact {
    display: block;
    width: 140px;
    padding: 5px 10px 5px 0;
    font-size: 1.2em;
    border-radius: 5px;
    background: #ffd200;
    box-shadow: -5px 5px 0 #cca000;
    color: #000;
    border: none;
    text-align: center;
    cursor: pointer;
}
input.contact:hover {box-shadow: -3px 3px 0 #cca000;}
input.contact.disabled {background: #999; box-shadow: -3px 3px 0 #555; cursor: default;}
