/* Global styles */
html {height: 100%; overflow-y: scroll;}
body {
    font-size: 16px;
    font-family: Arial;
    color: #777;
    background: #ddd;
    margin: 0;
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {color: #000;}
a {text-decoration: underline; color: #000;}
a:hover {text-decoration: none;}
.clear {clear: both;}
code {background: #ccc; color: #000;}
p > code {border: 1px solid #777; padding: 0 5px; border-radius: 2px;}
pre {padding: 5px; background: #ccc; color: #000; border: 1px solid #777; border-radius: 2px;}
p {line-height: 1.2em;}
strong {color: #555;}

#wrapAll {
    max-width: 1560px;
    min-width: 950px;
    margin: 0 auto -30px;
    background: #fff;
    box-shadow: 0 0 15px #333;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#leftCol {width: 150px; float: left;}
#mainCol {width: 730px; float: left; margin-left: 20px;}
#contentWrap {width: 900px; padding: 0 25px;}

.homePgWell {
    /*box-shadow: 0 0 15px #999;*/
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 20px;
}
.homePgWell .inner {padding: 0 20px 20px;}
.homePgTtl {
    background: #999;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid black;
    padding-top: 5px;
    margin-bottom: 5px;
}
.homePgTtl h1 {margin: 0 20px 5px;}

/* Header */
#header {
    height: 50px;
    width: 100%;
    background-color: #000;
}
#header div.logo {
    margin-left: 25px;
    float: left;
    color: #ffd200;
    font-size: 1.5em;
}
#header div.logo a {
    color: #fff;
    font-weight: bold;
    font-size: 44px;
    text-decoration: none;
}
#header div.navButtons {margin-right: 25px; float: right;}
#header a.navButton {
    display: block;
    height: 30px;
    padding: 18px 8px 0 8px;
    float: right;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    border-left: 1px solid #fff;
}
#header a.navButton:last-child {border-left: none;}
#header a.navButton.selected {color: #ffd200;}
#header a.navButton:hover {color: #ffd200;}

/* footer */
#push {height: 30px; clear: both;}
#footer {
    height: 1em;
    width: 900px;
    padding: 5px 25px 7px;
    margin: 0 auto;
    border-top: 2px solid #ccc;
    text-align: right;
}
p.footer {margin: 0;}
.footerSpacer {height: 30px;}
