---
layout: base
site_section: blog
title: Blog
---
<div id="contentWrap">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="entryTitle">
        <span class="title">{{ post.title }}</span>
        <span class="pubDate">- {{ post.date | date:"%b %d, %Y" }}</span>
    </a>
    <div class="entryContent">
        {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
        {% else %}
        {{ post.excerpt }}
        {% endif %}
    </div>
    {% endfor %}
    <div id="push"></div>
</div>
