---
layout: base
site_section: about
---
<div id="subHead">
    <a href="/about/interests.html"{% if page.about_section == 'interests' %} class="selected"{% endif %}>Interests</a>
    <a href="/about/experience.html"{% if page.about_section == 'experience' %} class="selected"{% endif %}>Experience</a>
    <a href="/about/education.html"{% if page.about_section == 'education' %} class="selected"{% endif %}>Education</a>
    <a href="/about/about_me.html"{% if page.about_section == 'about_me' %} class="selected"{% endif %}>About Me</a>
</div>

<div id="contentWrap" class="about">
    {{ content }}
    <div id="push"></div>
</div>
